body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #6dd5fa, #ff758c);
  color: #333;
}

#todo-app {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
